<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Configurations>
    <string>CalendarData</string>
    <string>Other One</string>
    <string>DefaultConfiguration</string>
    <string>Menstrual Cycle</string>
    <string>Allergens</string>
    <string>TestPlot</string>
    <string>School Work</string>
  </Configurations>
</Config>