html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-center {
    align-items: start;
    justify-content: center;
}

.center-container {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 0; /* Remove default margin */
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-column {
    text-align: left;
    margin-right: 20px; /* Adjust margin between columns */
}

.components-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.components-container {
    width: 100%;
    margin-bottom: 15px; /* Adjust spacing between containers */
    text-align: center;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    justify-content: center;
}

th {
    background-color: #f2f2f2;
    width: 14.28%; /* Set width to distribute evenly across 7 days */
}

.l-triangle-btn, .r-triangle-btn {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
}

.l-triangle-btn {
    margin-right: 10px;
    border-width: 20px 30px 20px 0;
    border-color: transparent #007bff transparent transparent;
}

.r-triangle-btn {
    margin-left: 10px;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #007bff;
}

.table-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Ensure that the .components-column takes up the full width */
    flex-grow: 1;
}

#table-container {
    flex-grow: 1;
}

.selected-cell {
    /*Could be customizable*/
    background-color: #aedcf3;
    border: 1px solid black;
}

.grey-cell {
    /*Could be customizable*/
    background-color: #dee8fa;
    border: 1px solid black;
}