@page
@model Calendar_Tracker.Pages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<form>
    @Html.AntiForgeryToken()

    <div class="text-center">
        <h1 class="display-4">Calendar</h1>

        <b>
            <span id="editableMonth" onclick="cycleMonth(1)" style="cursor: pointer;">@DateTime.Now.ToString("MMM")</span>
            <span id="editableDay" onclick="makeEditable(this, `26px`, 2, `day`)" style="cursor: pointer;">@DateTime.Now.Day,</span>
            <span id="editableYear" onclick="makeEditable(this, `42px`, 4, `year`)" style="cursor: pointer;">@DateTime.Now.Year</span>
        </b>

        <p></p>
    </div>
</form>

<script src="~/js/calendar.js"></script>