@page
@model Calendar_Tracker.Pages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<div class="text-center">
    <h1 class="display-4">Calendar</h1>
    <p>This is a placeholder of where the calendar will be.</p>
</div>